body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header-image {
    /* background: url("https://res.cloudinary.com/dbnugenbb/image/upload/v1458915250/apple-desk-laptop-working1280_zesrlm.jpg") no-repeat center center fixed;
    background-size: cover; */
    background-color: white;
    background-image: url("https://res.cloudinary.com/dbnugenbb/image/upload/v1458915250/apple-desk-laptop-working1280_zesrlm.jpg");
    background-size auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
}